body {
  padding-top: 70px;
  padding-bottom: 10px;
}

h1{
  color: #E5F2FF;
}
.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px ;
}

.theme-showcase .navbar .container {
  width: auto;
}

body {
  background: url(league_of_legends-vs-game-background-1600X900.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
